<div class="row">
    <nav class="header col-12 navbar navbar-light bg-light">
        <a class="navbar-brand" href="/home">
            <img src="../images/train.png" width="30" height="30" class="d-inline-block align-center" alt="traintchoutchou">
            <span>Ticketac</span>
        </a>
        <div>  <!-- ** href a definir **  -->
            <a href="/users/logout" class="btn-navConnection">Logout</a>
            <a href="/last-trips" class="btn-navConnection">My Last Trips</a>
        </div>
    </nav>
</div>