<div class="row">
    <nav class="header col-12 navbar navbar-light bg-light">
        <a class="navbar-brand">
            <img src="../images/train.png" width="30" height="30" class="d-inline-block align-top" alt="traintchoutchou">
            <span>Ticketac</span>
        </a>
        <div>  <!-- ** href a definir **  -->
            <a href="/#" class="btn-navConnection">Deconnection</a>
            
        </div>
    </nav>
</div>