body {
  margin: 0;
  height: 100vh;
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(#c1c5c7, #00B7FF);
}

a {
  color: #00B7FF;
}


/* NavBar */ 



/* footer */ 
.footer {
  font-style: italic;
  color: rgb(210, 210, 211)
  
}


